<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Product Catalog</title> 
	    <!-- Include Tailwind CSS directly -->
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<!-- Your custom styles -->
		<link href="imageGallery\gallery\templates\styles.css" rel="stylesheet">
</head> 
<body> 
	<h1 class="text-3xl font-bold text-center mb-4 mt-2">Product Catalog</h1> 
	
	<ul class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-0"> 
		{% for product in products %} 
			<li class="flex flex-col items-center border border-gray-300 p-4"> 
				<a class="mb-4" href="#"> 
					<img src="{{ product.image.url }}" alt="{{ product.name }}" width="200"> 
				</a> 
				<h2 class="text-lg font-semibold">{{ product.name }}</h2> 
				<p class="text-sm text-center">{{ product.description }}</p> 
			</li> 
		{% endfor %} 
	</ul> 
</body> 
</html> 
